@import "settings/settings";

body {
  background-color: $dark-grey;

  .front-layout {
    min-height: 100vh;
  }

  .layout {
    position: relative;
    height: calc(100vh - 220px);
  }

  .landing,
  .about,
  .articles,
  .portfolio,
  .contact {
    height: 100%;
    width: 100vw;
  }

  [class$="enter-active"], [class$="leave-active"] {
    width: 100%;
    height: 100%;
  }

  .slide-right-enter-active {
    animation: slideright-enter 300ms ease-in-out;
  }

  .slide-right-leave-active {
    animation: slideright-leave 300ms ease-in-out;
  }

  .slide-left-enter-active {
    animation: slideleft-enter 300ms ease-in-out;
  }

  .slide-left-leave-active {
    animation: slideleft-leave 300ms ease-in-out;
  }

  .fade-top-enter-active {
    animation: fadetop 300ms ease-in-out;
  }

}
