<template>
  <div v-if="display" class="front-layout">
    <Navbar />
    <div class="layout">
      <nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
import VueCookie from '../plugins/VueCookie'
import Navbar from './navbar'
import Footer from './footer'

export default {
  components: {
    Navbar: Navbar,
    Footer: Footer
  },

  head () {
    return {
      titleTemplate: `%s | ${this.settings.website_name}`
    }
  },

  data () {
    return {
      background: '',
      settings: {
        social_medias: '',
        website_name: '',
        dark_mode: true
      },
      user: {
        about: '',
        birthday: '',
        email: '',
        job_fr: '',
        job_en: '',
        first_name: '',
        last_name: '',
        profile_pic: ''
      },
      banner: true,
      display: false,
      blog: false,
      project: false,
      logged: false
    }
  },

  beforeCreate () {
    this.$axios.get('/settings')
      .then((response) => {
        console.log(response)
        this.user = response.data.user
        this.settings = response.data.settings
        this.display = true
      })
  },

  mounted () {
    if (VueCookie.has('banner')) {
      this.banner = false
    } else {
      VueCookie.set('banner', 'true')
    }
  }
}
</script>
