<template>
  <div class="about">
    <h1 class="title">
      Hello About
    </h1>
  </div>
</template>

<script>
export default {
  layout: 'front',
  transition (to, from) {
    if (from) {
      const tofrom = `${to.name.replace(/___en|___fr/gm, '')}-${from.name.replace(/___en|___fr/gm, '')}`
      const left = ['about-index', 'contact-about', 'portfolio-about', 'blog-about']
      const right = ['index-about', 'about-contact', 'about-portfolio', 'about-blog']

      if (left.includes(tofrom)) {
        return 'slide-left'
      } else if (right.includes(tofrom)) {
        return 'slide-right'
      }
    } else {
      return 'fade-top'
    }
  },
  nuxtI18n: {
    paths: {
      en: '/about-us',
      fr: '/a-propos'
    }
  }
}
</script>
