<template>
  <div class="articles">
    <h1 class="title">
      Hello blog
    </h1>
  </div>
</template>

<script>
export default {
  layout: 'front',
  transition (to, from) {
    if (from) {
      const tofrom = `${to.name.replace(/___en|___fr/gm, '')}-${from.name.replace(/___en|___fr/gm, '')}`
      const left = ['blog-index', 'blog-about', 'portfolio-blog', 'contact-blog']
      const right = ['index-blog', 'about-blog', 'blog-portfolio', 'contact-blog']

      if (left.includes(tofrom)) {
        return 'slide-left'
      } else if (right.includes(tofrom)) {
        return 'slide-right'
      }
    } else {
      return 'fade-top'
    }
  }
}
</script>
