<template>
  <div class="contact">
    <h1 class="title">
      Hello contact
    </h1>
  </div>
</template>

<script>
export default {
  layout: 'front',
  transition (to, from) {
    if (from) {
      if (from.name.includes('contact')) {
        return 'slide-right'
      } else {
        return 'slide-left'
      }
    } else {
      return 'fade-top'
    }
  }
}
</script>
