<template>
  <div class="landing">
    <h1>Hello world</h1>
  </div>
</template>

<script>

export default {
  layout: 'front',
  transition (to, from) {
    if (from) {
      if (from.name.includes('index')) {
        return 'slide-left'
      } else {
        return 'slide-right'
      }
    } else {
      return 'fade-top'
    }
  },
  head () {
    return {
      title: this.$t('navbar.home')
    }
  }
}
</script>
