<template>
  <div class="portfolio">
    <h1 class="title">
      Hello portfolio
    </h1>
  </div>
</template>

<script>
export default {
  layout: 'front',
  transition (to, from) {
    if (from) {
      const tofrom = `${to.name.replace(/___en|___fr/gm, '')}-${from.name.replace(/___en|___fr/gm, '')}`
      const left = ['portfolio-index', 'portfolio-about', 'portfolio-blog', 'contact-portfolio']
      const right = ['index-portfolio', 'about-portfolio', 'blog-portfolio', 'portfolio-contact']

      if (left.includes(tofrom)) {
        return 'slide-left'
      } else if (right.includes(tofrom)) {
        return 'slide-right'
      }
    } else {
      return 'fade-top'
    }
  }
}
</script>
